/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1.1rem;
    padding: 0px 11px;
    padding-bottom: 4px;
}
/* Home Section */
#home{
    height: 370px;
    padding: 3px 64px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 1.4rem;
}
/* Services Section */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0;
    margin-bottom: 20px;
}
/* Clients Section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 68px;
    padding: 6px;
    height: auto;
}
/* Contact Us Section */
#contact-box form{
    width: 80%;
}

/* Footer */

/* Utility Class*/
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 0.8rem;
    padding: 4px 9px;
}